*{
    font-family: sans-serif;
    margin: auto;
    color: var(--color-13);
}
:root{
    --color-1: rgb(12, 12, 84);
    --color-2: rgb(81, 42, 141);
    --color-3: rgb(62, 169, 235);
    --color-4: rgb(46, 214, 214);
    --color-5: rgb(238, 84, 76);
    --color-6: rgb(52, 52, 243);
    --color-7: rgb(244,186,26);
    --color-8: rgb(249, 57, 57);
    --color-9: rgb(10, 10, 10);
    --color-10: rgb(23, 22, 22);
    --color-11: rgb(0, 217, 255);
    --color-12: rgb(58, 57, 57);
    --color-13: rgb(255, 255, 255);
}
html, body {margin: 0; height: 100%;}
.page-wraper{
    width: 100vw;
    max-width: 1440px;
    height: 100vh;
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    background: var(--color-1);
    padding: 30px 0;
}
.brand-wrapper{
    display: flex;
    column-gap: 29px;
}
.brand-logo{
    display: flex;
    column-gap: 10px;
}
.buttons #button-1{
    border-radius: 25px;
    text-align: center;
    padding: 3px 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background: linear-gradient(160deg, var(--color-4), var(--color-3));
}
.buttons #button-2{
    border-radius: 25px;
    text-align: center;
    padding: 3px 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background: linear-gradient(160deg, var(--color-5), var(--color-7));
}
.nav-bar .contact{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    column-gap: 20px;
    cursor: pointer;
}
.contact p{
    display: inline-flex;
    column-gap: 4px;
    letter-spacing: 0.4px;
}

.contact p .yellow-text{
    color: var(--color-7);
}

.hero-section{
    background: var(--color-1);
    background-image: url("vritualevent.png");
    background-size: 370px;
    background-repeat: no-repeat;
    background-position: 50% 100% ;
    padding: 0 0 340px 0;
}
.heading{
    text-align: center;
    padding-top: 45px;
}
.head{
    display: inline-block;
}
.heading h5{
    font-size: 16px;
    font-weight: 700;
    text-align: start;
    margin-left: 12px;
    letter-spacing: 1px;
}

.heading h1{
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 4px;
}
.heading h4{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}
.heading .span-1{
    background: linear-gradient(to right, var(--color-7),var(--color-5), var(--color-6)); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-size: 24px;
}
.cards{
    position: relative;    
}
.cards p{
    font-size: 8px;
    padding: 5px 5px 0 5px;
}
#value-1{
    font-size: 16px;
    font-weight: 700;
    padding-right: 18px;
}
#value-2{
    font-size: 16px;
    font-weight: 700;
    padding-left: 40px;
}
#value-3{
    font-size: 16px;
    font-weight: 700;
    padding-right: 25px;
}
#value-4{
    font-size: 16px;
    font-weight: 700;
    padding-left: 28px;
}
#value-5{
    font-size: 16px;
    font-weight: 700;
    padding-right: 7px;
}#value-6{
    font-size: 16px;
    font-weight: 700;
    padding-left: 45px;
}
.cards .icon-1, .icon-3, .icon-5{
    width: 30px;
    height: 30px;
    background-color: var(--color-8);
    border-radius: 100%;
    display: flex;
}
.cards .icon-2, .icon-4, .icon-6{
    width: 30px;
    height: 30px;
    background-color: var(--color-8);
    border-radius: 100%;
    display: flex;
}

.card-1, .card-3, .card-5 {
    background: linear-gradient(120deg, var(--color-6),var(--color-2),var(--color-5));
    border-radius: 5px;
    position: absolute;
    display: flex;
    padding: 8px 20px 8px 8px;
    column-gap: 8px;
    width: 115px;
}
.card-1{
    left: 130px;
    top: 110px;

}

.card-2, .card-4, .card-6{
    background: linear-gradient(120deg, var(--color-6),var(--color-2),var(--color-5));
    border-radius: 5px;
    position: absolute;
    text-align: start;
    display: flex;
    padding: 8px 8px 8px 20px;
    column-gap: 8px;
    width: 110px;

}
.card-2{
    right: 130px;
    top: 110px;
}
.card-3{
    left: 160px;
    top: 185px;
}
.card-4{
    right: 160px;
    top: 185px;
}
.card-5{
    left: 190px;
    top: 260px;
}
.card-6{
    right: 190px;
    top: 260px;
}

.feature-section, .class-1, .class-2{
    line-height: 2;
    background: var(--color-10);
    display: flex;
    position: relative;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.class-1 .feature-sec-1 {
    padding-left: 100px;
}
.class-2 .feature-sec-2 {
    padding-right: 100px;
}
.feature-section p:hover{
    color: var(--color-4)
}
#feature-logo:hover{
    width: 20px;
    height: 20px;
    transition: transform .2s;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.plan-section{
    background: var(--color-9);
}
.plan-section .span-2{
    background: linear-gradient(to right, var(--color-7),var(--color-5), var(--color-6)); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-size: 24px;
    position: relative;
}
.plan-section h1{
    font-size: 48px;
}
#plan-logo {
    position: relative;
    left: -25px;
    top: 20px;
}
.plan-title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}
.circle-1{
    border: 2px solid var(--color-11);
    border-radius: 100%;
    width: 380px;
    height: 380px;
    position: relative;
    margin-bottom: -180px;
    cursor: pointer;
}
.circle-2{
    border: 2px solid var(--color-11);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
}
.circle-3{
    border: 2px solid var(--color-11);
    border-radius: 100%;
    width: 220px;
    height: 220px;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
}
.circle-4{
    background: var(--color-12);
    opacity: 0.7;
    border-radius: 100%;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 40px;
    left: 40px;
    text-align: center;
    
}
.circle-content{
    display: inline-block;
    margin-top: 15px;
    color: var(--color-13);
}
.circle-content h1{
    font-size: 32px;
    font-weight: 700;
}
.circle-content h4{
    font-size: 12px;
    text-align: start;
    font-weight: 700;
    
}
.circle-content h6{
    font-size: 6px;
    font-weight: 700;
    text-align: end;
    margin-left: 8px;
}
.inner-circle{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    background: linear-gradient(30deg, var(--color-6),var(--color-2),var(--color-5));
}
.inner-circle p{
    font-size: 8px;
}
.inner-circle #para{
    padding-top: 6px;
}
.inner-circle #value{
    font-size: 14px;
    font-weight: 700;
}
#inner-circle-1{
    position: relative;
    right: 170px;
    top: -40px;
}
#inner-circle-5{
    position: relative;
    left: 100px;
    bottom: 180px
}
#inner-circle-3{
    position: relative;
    right: 30px;
    bottom: 35px;
}
#inner-circle-6{
    position: relative;
    left: 145px;
    top:0px;
}
#inner-circle-2{
    position: relative;
    right: 85px;
    top: 15px;
}
#inner-circle-4{
    position: relative;
    left: 60px;
    bottom: 90px;
}
.bar{
    width: 45px;
    border-radius: 20px;
    background: linear-gradient(120deg, var(--color-6),var(--color-2),var(--color-5));
    font-size: 8px;
    padding: 2px 10px;
    text-align: center;
}
#bar-1{
    width: 200px;
    border: 2px solid var(--color-7);
    border-radius: 10px;
    position: relative;
    right: 200px;
    top: -50px;
    line-height: 1.8;
    background: var(--color-2);
}
#basic-plan{
    width: 65px;
    border-radius: 20px;
    padding: 5px 10px;
    transform: rotate(-90deg);
    position: absolute;
    top: 45px;
    left: -20px;
    background: linear-gradient(240deg, var(--color-6),var(--color-2),var(--color-5));
}
#cal-icon{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: var(--color-3);
    display: flex;
    position: absolute;
    bottom: 50px;
    right: 15px;
}
#bar-1 #para-1{
    font-size: 18px;
    font-weight: 700;
}
#para-1 span{
    font-size: 15px;
}
#para-2{
    font-size: 12px;
}
#para-3{
    font-size: 8px;
    opacity: 0.6;
}
#para-4{
    font-size: 15px;
    font-weight: 700;
}
#para-4 span{
    font-size: 12px;
}
#bar-5{
    position: relative;
    left: 105px;
    bottom: 190px
}
#bar-3{
    position: relative;
    right: 30px;
    bottom: 40px;
}
#bar-6{
    position: relative;
    left: 185px;
    bottom: 5px;
}
#bar-2{
    position: relative;
    right: 85px;
    top: 10px;
}
#bar-4{
    position: relative;
    left: 30px;
    bottom: 95px;
}
.about-us{
    height: 400px;
    display: flex;
    background: linear-gradient(120deg, var(--color-1), var(--color-2));
    position: relative;
}
.section1{
    width: 50%;
    height: 400px;
    padding: 10px;
}
.section1 .container{
    position: absolute;
    left: 145px;
    top: 90px;   
}
.container{
    margin-bottom: 43px;
}
.image-container .logo{
    position: relative;
    bottom: 30px;
    left: 4px;
}
.template{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    display: block;
    padding: 10px;
    position: relative;
    margin-top: -40px;
    margin-right: 10px;
    line-height: 1.6;
    cursor: pointer;
    background: linear-gradient(120deg, var(--color-6),var(--color-2),var(--color-5));
}
.template p {
    font-size: 8px;
}
.template .hash{
    font-size: 14px;
    font-weight: 600;
}
.section2{
    width: 50%;
    height: 400px;
    position: relative;
    padding-top: 50px;
}
.section2 p{
    font-size: 8px;
    opacity: 0.7;
    padding-bottom: 20px;
    line-height: 15px;
    width: 275px;
    text-align: justify;
    margin: 0;
}
.section2 button{
    border-radius: 20px;
    border: none;
    font-size: 12px;
    background: linear-gradient(180deg, var(--color-3), var(--color-4));
    position: absolute;
    left: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
#meta-logo {
    position: relative;
    top: 23px;
    left: 60px;
}
.section2 h1{
    font-size: 48px;
    padding-left: 85px;
    text-transform: uppercase;
}
.span{
    background: linear-gradient(to right, var(--color-7),var(--color-5), var(--color-6)); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 90px;
}
 
@media only screen and (max-device-width: 375px){
    .buttons{
        margin: 10px 15px 10px 0;
    }
    .card-1{
        position: absolute;
        left: 20px;
    }
    .card-2{
        position: absolute;
        right: 20px;
    }
    .card-3{
        position: absolute;
        left: 20px;
    }
    .card-4{
        position: absolute;
        right: 20px;
    }
    .card-5{
        position: absolute;
        left: 20px;
    }
    .card-6{
        position: absolute;
        right: 20px;
    }
    .feature-section .class-1{
        display: block;
        text-align: center;
    }
    .class-1 span{
        padding: 5px 18px;
        line-height: 1.8;
    }
    .feature-section .class-2{
        display: block;
        text-align: center;
    }
    .class-2 span{
        padding: 10px 5px;
        line-height: 1.8;
    }
    .class-1 .feature-sec-1 {
        padding-left: 0;
    }
    .class-2 .feature-sec-2 {
        padding-right: 0;
    }
    .about-us{
        height: auto;
        display: block;
    }
    .section1{
        width: 0;
        height: 200px;
        padding: 10px;
    }
    .section1 .container{
        position: absolute;
        left: 110px;
        top: 50px;   
    }
    .container{
        margin-bottom: 43px;
    }    
}
