*{
    font-family: sans-serif;
    margin: auto;
    color: white;
}
:root{
    --color-1: rgb(4, 4, 61);
    --color-2: rgb(133, 55, 250);
    --color-3: rgb(74, 241, 241);
    --color-4: rgb(27, 187, 187);
    --color-5: rgb(226, 107, 117);
    --color-6: rgb(52, 52, 243);
    --color-7: rgb(244,186,26);
    --color-8: rgb(249, 57, 57);
}
.page-wraper{
    position: relative;
}
.nav-bar{
    width: 800px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--color-1);
    position: sticky;
}
.buttons{
    margin: 10px 0 10px -30px;
}
.buttons #button-1{
    border-radius: 25px;
    width: 65px;
    text-align: center;
    background: linear-gradient(var(--color-4), var(--color-3)20%);
}
.buttons #button-2{
    border-radius: 25px;
    width: 65px;
    text-align: center;
    background: var(--color-5);
}
.nav-bar .contact{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;


}

.hero-section{
    width: 800px;
    height: 440px;
    background: var(--color-1);
    background-image: url("vritualevent.png");
    background-size: 360px;
    background-repeat: no-repeat;
    background-position: 50% 100% ;
}
.heading{
    justify-content: center;
    text-align: center;

}
.heading h5{
    font-size: 16px;
    font-weight: 700;
}

.heading h1{
    font-size: 48px;
    font-weight: 700;
}
.heading h4{
    font-size: 24px;
    font-weight: 700;
}
.heading .span-1{
    background: linear-gradient(to right, var(--color-7),var(--color-5), var(--color-6)); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-size: 24px;
}
.cards{
    position: relative;
}
.cards p{
    font-size: 8px;
    padding: 5px 5px 0 5px;
}
.cards #value{
    font-size: 16px;
    font-weight: 700;
    padding-right: 15px;
}
.cards .icon-1, .icon-3, .icon-5{
    width: 30px;
    height: 30px;
    background-color: var(--color-8);
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 5px;

}
.cards .icon-2, .icon-4, .icon-6{
    width: 30px;
    height: 30px;
    background-color: var(--color-8);
    border-radius: 100%;
    position: absolute;
    right: 10px;
    top: 5px;

}
.card-1{
    width: 110px;
    height: 40px;
    background: linear-gradient(120deg, var(--color-6),var(--color-2),var(--color-5));
    border-radius: 5px;
    position: absolute;
    left: 130px;
    top: 140px;
    justify-content: end;
    text-align: end;
}
.card-2{
    width: 110px;
    height: 40px;
    background: linear-gradient(120deg, var(--color-6),var(--color-2),var(--color-5));
    border-radius: 5px;
    position: absolute;
    right: 130px;
    top: 140px;
    justify-content: start;
    text-align: start;
}
.card-3{
    width: 110px;
    height: 40px;
    background: linear-gradient(120deg, var(--color-6),var(--color-2),var(--color-5));
    border-radius: 5px;
    position: absolute;
    left: 160px;
    top: 200px;
    justify-content: end;
    text-align: end;

}
.card-4{
    width: 110px;
    height: 40px;
    background: linear-gradient(120deg, var(--color-6),var(--color-2),var(--color-5));
    border-radius: 5px;
    position: absolute;
    right: 160px;
    top: 200px;
    justify-content: start;
    text-align: start;
}
.card-5{
    width: 110px;
    height: 40px;
    background: linear-gradient(120deg, var(--color-6),var(--color-2),var(--color-5));
    border-radius: 5px;
    position: absolute;
    left: 190px;
    top: 260px;
    justify-content: end;
    text-align: end;
}
.card-6{
    width: 110px;
    height: 40px;
    background: linear-gradient(120deg, var(--color-6),var(--color-2),var(--color-5));
    border-radius: 5px;
    position: absolute;
    right: 190px;
    top: 260px;
    justify-content: start;
    text-align: start;
}

.feature-section{
    width: 800px;
    height: 50px;
    line-height: 2;
    background: black;
    display: flex;
    position: relative;
    padding: 10px 0 10px 0;
    font-size: 12px;
    font-weight: 600;

}
#feature-logo{
    width: 20px;
    height: 20px;
    transition: transform .2s;
}
.feature-section #feature-logo:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}  
/* .feature-section p{
    position: relative;
    top: 15px;
}  */
.section1{
    width: 50%;
    height: 400px;
    padding: 10px;
}
.section1 .images{
    position: absolute;
    left: 145px;
    top: 90px;    
}
.images .logo{
    position: relative;
    bottom: 30px;
    left: 4px;
}
.template{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    display: block;
    padding: 10px;
    margin-top: 200px;
    margin-left: 195px;
    line-height: 1.6;
    background: linear-gradient(30deg, var(--color-6),var(--color-2),var(--color-5))
}
.template p {
    font-size: 8px;
}
.template .hash{
    font-size: 14px;
    font-weight: 600;
}
.section2{
    width: 50%;
    height: 400px;
    position: relative;
    padding-top: 50px;
}
.section2 p{
    font-size: 8px;
    opacity: 0.7;
    padding-bottom: 20px;
    line-height: 15px;
    width: 275px;
    text-align: justify;
    margin: 0;
}
.section2 button{
    border-radius: 10px;
    background: linear-gradient(50deg, var(--color-4), var(--color-3)20%);
    position: absolute;
    left: 20px;
    
}
#meta-logo {
    position: relative;
    top: 23px;
    left: 60px;
}
.section2 h1{
    font-size: 48px;
    padding-left: 85px;
    text-transform: uppercase;
}
.span{
    background: linear-gradient(to right, var(--color-7),var(--color-5), var(--color-6)); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 90px;
}
.about-us{
    width:800px;
    height: 400px;
    display: flex;
    background: linear-gradient(70deg, var(--color-1), var(--color-2));
    position: relative;
}