*{
    font-family: sans-serif;
    margin: auto;
    color: white;
}
:root{
    --color-1: rgb(24, 24, 78);
    --color-2: rgb(158, 104, 240 );
    --color-3: rgb(74, 241, 241);
    --color-4: rgb(27, 187, 187);
    --color-5: rgb(226, 107, 117);
    --color-6: rgb(52, 52, 243);
    --color-7: rgb(244,186,26);
}
.about-us{
    width:800px;
    height: 400px;
    border: 2px solid red;
    display: flex;
    background: linear-gradient(var(--color-1)80% ,var(--color-2));
    position: relative;
}

.section1{
    width: 50%;
    height: 400px;
    border: 1px solid yellow;
    padding: 10px;
}
.template{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--color-6),var(--color-2),var(--color-5))
}
.template p {
    font-size: 8px;
}
.template .hash{
    font-size: 14px;
    font-weight: 600;
}
.section2{
    width: 50%;
    height: 400px;
    border: 1px solid yellow;
    position: relative;
}
.section2 p{
    font-size: 8px;
    opacity: 0.7;
    padding-bottom: 20px;
    line-height: 15px;
}
.section2 button{
    border-radius: 10px;
    background: linear-gradient(var(--color-4)50%, var(--color-3)20%);
    position: absolute;
    left: 20px;
    
}
#meta-logo {
    position: relative;
    top: 23px;
    left: 60px;
}
.section2 h1{
    font-size: 48px;
    padding-left: 85px;
    text-transform: uppercase;
}
.span{
    background: linear-gradient(to right, var(--color-7),var(--color-5), var(--color-6)); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 40px;
}